@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a asp-controller="Employee" asp-action="index" class="btn btn-lg btn-primary"><i class="bi bi-file-plus-fill"></i> go to Employee</a></p>
</div>
